<!doctype html>
<html lang="en">

<head>
    <title>Angularjs</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Angular js -->
    <script src="lib/angular/angular.min.js"></script>
    <script src="app.module.js"></script>
</head>

<body>
    <main ng-app="myApp" ng-controller="firstController">
        <section ng-init="age=25 ; myCol='lightblue'; font=20 ; person={firstName:'John2',lastName:'Doe2'}">

            <input ng-style="{ 'background-color': myCol , 'font-size':font + 'px' }" ng-model="myCol">
            <!-- <section ng-init="firstName='Mohamed' ; lastName='Fathi'; age=25 "> -->
            <input class="form-control" type="text" ng-model="firstName">
            <input class="form-control" type="text" ng-model="lastName">
            <input class="form-control" type="text" ng-model="bg">
            <p>Hello {{firstName + ' ' + lastName}}</p>
            <p>{{age + 5}}</p>
            <p ng-bind="age"></p>
            {{ firstName + " " + lastName }}
            <p>The name is {{ person.lastName }}</p>

        </section>


    </main>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js">
    </script>
</body>

</html>